body{
   background-color: initial;
}

#HanaN{
   background-color: initial;
   font-family:initial;
   color:blueviolet;
   
}

#MichaelaH{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#EliskaB{
   background-color: blue;
   font-family: initial;
   color:pink;
   
}

#AnnaK{
   background-color:cornflowerblue;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:initial;
   
}

#PetraO{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}